page-about {
    .info{
        color: gray;
    }
    .buttonhome{
        float: right;

    }
    .info1{
        text-align: center;
        color: red;
    }
}

.result {
    text-align: center;
    color: green !important;
    font-weight: bold;
}
