<ion-header>
    <!-- <div class="header">   -->
    <!-- <ion-navbar style="padding: 0px 100px;">     -->
    
  <div>  
    <div class="title">
      <div class="title-sub-section">
        <a class="title-sub" href="http://hmlr-ds-landingscreen.eu-gb.mybluemix.net/#/LandingIM">Digital Street
        <br>
        <p class="subtitle">Instant mortgage</p></a>
      </div>
    </div>
    <div class="logo">
      <img src="../../assets/icon/hmlr_logo.png" width="175" alt="HM Land Registry Logo">
    </div>
  </div>
  <!-- <ion-navbar>    
    <ion-title>
        <a href="#">Digital Street</a>
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>
      Instant mortgage
    </ion-title>
  </ion-toolbar>
  <div class="logo">
    <img src="../../assets/icon/hmlr_logo.png" width="175" alt="HM Land Registry Logo">
  </div> -->

</ion-header>
